﻿@model VisitListMVC.Models.Visits.Visit;
@{
    ViewData["Title"] = "Modify Visit";
}

<h1>Modify your Visit</h1>

<a>@Model.Name</a>
<a>@Model.StartDate</a>
<a>@Model.EndDate</a>

<form id="modifyForm" method="post" asp-action="Update" asp-route-id="@Model">
    <table>
        <tr>
            <td>
                <a>Name :</a>
            </td>
            <td>
                <input name="Name" value="@Model.Name">
            </td>
        </tr>
        <tr>
            <td>
                <a>Start date :</a>
            </td>
            <td>
                <input name="StartDate" value=@Model.getStartDateDisplay() type="date">
            </td>
        </tr>
        <tr>
            <td>
                <a>End Date :</a>
            </td>
            <td>
                <input name="EndDate" value=@Model.getEndDateDisplay() type="date">
            </td>
        </tr>
        <tr>
            <td>
                <a>Comment :</a>
            </td>
            <td>
                <input name="Comment" value="@Model.Comment" type="text">
            </td>
        </tr>
    </table>
    <input name="Id" value=@Model.Id type="hidden">
    <button class="btn btn-danger" form="modifyForm">Modify</button>
</form>
<table>
    @foreach (var photo in Model.PhotoList)
    {
        <tr>
            <td>
                <a>Photo n°@(Model.PhotoList.IndexOf(@photo)+1) :</a>
            </td>
            <td>
                <img src="/Photos/@photo" alt="Photo n° @Model.PhotoList.IndexOf(@photo)" style="height: 300px;">
            </td>
            <td>
                <a asp-action="DeletePhoto" asp-route-visitId=@Model.Id asp-route-photo=@photo>Delete</a>
            </td>
        </tr>
    }
</table>
<form method="post" enctype="multipart/form-data" asp-action="AddPhoto" asp-route-visitId=@Model.Id>
    <input type="file" name="UploadPhoto" />
    <input type="hidden" value=@Model.Id name="Id" />
    <input type="submit" />
</form>
