﻿@model VisitListMVC.Models.Visits.VisitInventory
@using VisitListMVC.Models.Visits 
@using Syncfusion.EJ2.Maps;
@{
    ViewData["Title"] = "Map";

    var tooltip = new MapsTooltipSettings
    {
        Visible = true,
        ValuePath = "Id",
        Template = "#template"
    };

    var select = new Syncfusion.EJ2.Maps.MapsSelectionSettings
    {
        Enable = true,
        Fill = "blue",
        Border = new Syncfusion.EJ2.Maps.MapsBorder
        {
            Color = "white",
            Width = 2,
            Opacity = 1
        }
    };
}


<ejs-maps id="maps" width="1000px" height="800px" TooltipDisplayMode="Click">
    <e-maps-zoomsettings enable="true" MouseWheelZoom="true"></e-maps-zoomsettings>
    <e-maps-layers>
        <e-maps-layer layerType="OSM" load="window.onMapLoad" urlTemplate="https://tile.openstreetmap.org/level/tileX/tileY.png">
            <e-layersettings-markers>
                <e-layersettings-marker visible="true" animationDuration="0" dataSource="Model.VisitList.ToArray()" height="20" width="20" tooltipSettings="tooltip" selectionSettings="select"></e-layersettings-marker>
            </e-layersettings-markers>
        </e-maps-layer>
    </e-maps-layers>
</ejs-maps>
<div id="template" style="display: none; width: fit-content;">
    <div style="background-color: rgba(201, 201, 201, 81); font-size: 2em; width: 300px;">
        <form id="CheckVisit" method="post" asp-controller="ModifyVisit" asp-action="ModifyVisitString">
            <input type="hidden" name="Id" value=${Id} />
            <a href="javascript:{}" onclick='document.getElementById("CheckVisit").submit(); console.log("here");'>Voir la visite de ${Name}</a>
            <img src="/Photos/${PhotoList[0]}" alt="Image" style="height: 150px; border-radius: 25%;">
       </form>

   </div>
</div>


<script>
   function tooltipRender(args) {
                    if (!args.options['data']) {
                        args.cancel = true;
                    }
                }
</script>

