﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue sur VisitList</h1>
 </div>
<h2>Vous pouvez vous rendre sur ces pages :</h2>
<ul>
    <li>
        <a asp-controller="Visits" asp-action="Visits">Les visites</a>
    </li>
    <li>
        <a asp-controller="Map" asp-action="Map">La carte</a>
    </li>
</ul>